.login-page-title {
    margin-top: 100px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.login-page-description {
    margin-block: 16px;
    text-align: center;
    font-size: 16px;
    color: #999999;
}

.option-list-wrapper {
    padding-inline: 20px;
}

.login-page-footer {
    margin-top: 150px;
    padding-block: 8px;
    text-align: center;
    background-color: rgba(153, 153, 153, 0.34);
    color: black;
    font-size: 16px;
}

.go-to-register-link {
    font-weight: bold;
    font-size: 17px;
    color: #d6249f;
    cursor: pointer;
}