/* Title styling */
.login-form-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    text-align: left;
    flex: 2;
    margin-left: 40px;
}

.login-form-header {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-inline: 10px;

}

.back-button-icon {
    align-content: center;
    text-align: left;
    flex: 1;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 15px;
}

/* Tab selector container */
.form-tab-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-bottom: 2px solid #e6e6e6;
    gap: 50px;
}

/* Individual tab item styling */
.tab-item {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #999999;
    position: relative;
}

/* Active tab item styling */
.tab-item.active {
    color: #000;
    font-weight: bold;
}

/* Indicator line under the active tab */
.tab-item.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
}

/* Form styling */
.login-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-up-form input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.login-up-form div {
    text-align: center;
    font-size: 12px;
    color: #999999;
    margin-bottom: 20px;
}

.login-up-form button {
    margin-top: 20px;
    width: 300px;
    padding: 10px;
    background-color: #EA4359;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-up-form button:hover {
    background-color: #333;
}

.login-up-terms {
    font-size: 16px;
    width: 300px;
    text-align: left;
}
