.video-feed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    border-radius: 50px;
}

.feed-video {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

.video-feed::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Safari and Chrome */
}