.feed-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-block: 13px;
    gap: 10px;
    top: 75px;
    left: 30%;
    position: absolute;
    z-index: 10;
    /*color: white;*/

}

.select-feed-tab {
    color: red !important;
}

.feed-bar-label {
    font-size: 16px;
    font-weight: 600;
}